!!!
html(ng-app="yelpz")
  head
    meta(charset='utf8')
    meta(author="Nick Rios")
    base(href='/')
    title Yelpz | a node.js experiment
    link(rel="shortcut icon", href="images/favicon.png?v=3544")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/jquery-editable/css/jquery-editable.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body(ng-controller="appController")
    block body